<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifspsaocarlos.sdm.controlevisitas">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartVisitActivity"
            android:label="@string/new_visit"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".DetailVisitActivity"
            android:label="@string/visit_detail"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddClientActivity"
            android:label="@string/im_cd_add_client"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FilterActivity"
            android:label="@string/filter_visits"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ImageGalleryActivity"
            android:label="@string/visit_images"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".FilterResultsActivity"
            android:label="@string/filtered_visits"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ClientsActivity"
            android:label="@string/manage_clients"
            android:screenOrientation="sensorPortrait"/>
    </application>

</manifest>